<h1>Cryptocurrency Tracker</h1>

<p>Click the button bellow to retrieve all updated cryptocurrencies and their values:</p>
<%= link_to '<button type="button">Scrap!</button>'.html_safe, save_path %>

<% unless Cryptocurrency.all.empty? %>
  <p>Select you favorite currency to know its value!</p>

  <%= form_tag url_for(action: 'display'), method: 'get' do %>
    Cryptocurrency name:
    <%= select_tag :cryptocurrency_id, options_for_select(
      @cryptocurrencies.map { |cryptocurrency| [cryptocurrency.name, cryptocurrency.id] }
    ) %>

  <%= submit_tag 'Go' %>

  <% end %>

  <% unless @currency.nil? %>
    <p>The price of <%= @currency.name %> is <%= @currency.value %></p>
  <% end %>

<% end %>

